<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Moodpress</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="{{ page_class }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>

<div class="overlay"></div>
<main>
    {% block content %}{% endblock %}
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
